@model ClothesShop.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoryID" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParentID" class="control-label"></label>
        <input asp-for="ParentID" class="form-control" />
        <span asp-validation-for="ParentID" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
